* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.head {
  font-size: 4vw;
  height: auto;
  width: 100%;
  display: inline-block;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 2vw;
  border-radius: 10px;
}

button {
  height: 10vw;
  width: 10vw;
  display: inline-block;
  background-color: black;
  color: aliceblue;
  justify-content: space-around;
  align-content: space-around;
  border: 2px solid aliceblue;
  border-radius: 50%;
  margin-top: 5vh;
  border-color: aliceblue;
  font-size: 5vw;
  align-self: space-around;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

p {
  display: block;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 2vw;
}

button.reset {
  height: 10vw;
  width: 10vw;
  display: inline-block;
  background-color: black;
  color: aliceblue;
  justify-content: center;
  align-content: center;
  border: 2px solid aliceblue;
  border-radius: 50%;
  margin-top: 2vh;
  font-size: 4vw;
  align-self: center;
}

button.reset:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

.js-score,
.js-result,
.js-move {
  height: 10vh;
  width: 100%;
  background-color: black;
  color: white;
  margin: 10px;
}

.top,
.mid,
.bottom {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .head {
    font-size: 8vw;
  }
  button {
    height: 20vw;
    width: 20vw;
    font-size: 8vw;
  }
  p {
    font-size: 4vw;
  }
  button.reset {
    height: 20vw;
    width: 20vw;
    font-size: 8vw;
  }
  .js-score,
  .js-result,
  .js-move {
    height: 20vh;
  }
}
