*,::after,::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 255, 255, 0.498);
}
 
.mainDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btnContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
         
.reset {
	background-image: linear-gradient(to right, #200122 0%, #6f0000  51%, #200122  100%);
	margin: 10px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	font-size: 1.5em;
	aspect-ratio: 1/1;
  }

  .reset:hover {
	background-position: right center; 
	color: #fff;
	text-decoration: none;
	cursor: pointer;
  }
 
.clr{
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	aspect-ratio: 1/1;
	background-size: 100% auto;        
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: inline-block;
}

.clr:hover {
	background-position: right center; 
	color: #ffffffa2;
	text-decoration: none;
	cursor: pointer;
  }

  .red{
	background-color: rgba(255, 0, 0, 0.75);
	border: 3px solid #200122;
  }
  .green{
	background-color: rgba(0, 255, 0, 0.49);
	border: 3px solid #200122;
  }
  .blue{
	background-color: rgba(0, 0, 255, 0.49);
	border: 3px solid #200122;
  }

  .red:hover {
	background-color: rgba(255, 0, 0, 0.95);
  }
  .green:hover{
	background-color: rgba(0, 255, 0, 0.95);
  }
  .blue:hover{
	background-color: rgba(0, 0, 255, 0.95);
 }
  

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch; 
	align-items: stretch; 
	max-width: auto;
    max-height: auto;
	padding: 0;
	border: 1px dashed black;
	background-color: rgba(109, 208, 94, 0.498);
	overflow: hidden;
}

.square{

	border: 1px dotted black;
	margin: 0;
}

.square:hover {
    background-color: rgba(109, 208, 94, 0.75);
}




.prompt-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears above other content */
}

.prompt-text {
    margin-bottom: 10px;
}

.prompt-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.prompt-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.prompt-button:hover {
    background-color: #0056b3;
}