* {
  font-family: monospace;
}
body {
  min-height: 100vh;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  overflow: hidden;
}

.project-name {
  font-size: 50px;
}

/* Calculator container */
.calculator-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  height: 700px;
  width: 500px;
  background-color: black;
  border: 5px solid rgb(185, 131, 39);
  border-radius: 25px;
  margin: auto;
  padding: 15px;
}

/* Grid - number display - 1st row */
.number-display-container {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(153, 205, 178, 0.222);
}
.number-on-screen {
  font-size: 60px;
  text-align: right;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  height: 75px;
  width: 96%;
  background-color: rgba(153, 205, 178, 0.222);
  border-radius: 10px;
  border: none;
}

/* Grid - number pad - 2nd, 3rd, 4th, 5th row */
.number-pad-container {
  grid-row: 2 / 7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.pad-button {
  border-radius: 100px;
  font-size: 40px;
  color: #e6e6e6;
  background-color: #79ab15c5;
  cursor: pointer;
}

.pad-button:active,
.pad-button:hover {
  color: white;
  background-color: #242729;
  cursor: pointer;
  transition: all 0.25s;
  transition-timing-function: ease-in;
}

.pad-button-color {
  border-radius: 100px;
  font-size: 40px;
  color: #e6e6e6;
  background-color: rgb(145, 77, 9);
  cursor: pointer;
}

.pad-button-color:active,
.pad-button-color:hover {
  color: white;
  background-color: #e36323;
  transition: all 0.25s;
  transition-timing-function: ease-in;
}

#pad-button-equal-sign {
  grid-column: 4;
}

.credits-container {
  grid-column: 1/4;
  color: white;
  font-size: 20px;
  margin: auto;
}

.credits-container a {
  color: white;
  text-decoration: none;
}

#Success-link: active,
      #Success-link:hover {
  color: MediumSeaGreen;
  text-decoration: none;
  filter: drop-shadow(4px 4px 20px #40e0d0);

  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}
